body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 130px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.error {
    color: red;
    margin-bottom: 10px;
}

.rojo {
    color: red;
}